body {
    display: flex;
}
.calculator {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
}

.display {
    text-align: end;
    font-size: 30px;
    width: 208px;
    height: 50px;
    border: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 230px;
}

.numbers {
    background-color: blueviolet;
    width: 160px;
}
#number {
    color: peachpuff;
    background-color: blueviolet;
}

.operators {
    background-color: peachpuff;
    width: 50px;
}
.operator {
    color: blueviolet;
    background-color: peachpuff;
}

button {
    width: 50px;
    height: 50px;
}

.zero {
    width: 104px;
}

.equals {
    color: peachpuff;
    background-color: blueviolet;
    width: 105px;
}

.AC {
    color: blueviolet;
    background-color: peachpuff;
    width: 104px;
}